.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: orange;
    padding: 10px 20px;
    position: sticky;

}
.logo-img {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.list-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.list-menu ul a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-align: none;
    text-decoration: none;
    font-weight: 700;
}
.list-menu ul a.active {
    color: red;
}
.account a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    margin-left: 10px;
}
.account a.active {
    color: red;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: #c95050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}